PORT=5001
MONGO_URI=mongodb+srv://raghavjuneja178_db_user:raghav12345678@cluster0.vtlqbge.mongodb.net/car_dealership?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=supersecretjwtkey_dealership_2026
JWT_EXPIRES_IN=1d
ADMIN_SECRET_KEY=admin_secret_key_2026
